

body{
    padding: 10%;
    font-size: 1.5rem;
    background-color: #CAF0F8;
    color: #03045E;
}

/* input, button {
    font: inherit;
    color: inherit;
} */

p {
    line-height: 1.5 ;
    letter-spacing: 0.1em;
}
